.statistics-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 450px;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-top: black solid 10px;
  padding-bottom: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  border-bottom: #c2c2c2 solid 3px;
}

.statistics-container h1 {
  font-size: 35px;
  font-weight: 300;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #7993e6;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: bold;
}

.statistics-items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.statistics-item {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 5px;
  justify-content: space-between;
  animation: fadeIn 1s ease-in-out;
}

.statistics-number {
  font-size: 40px;
  font-weight: bold;
  animation: countUp 1s ease-in-out;
  color: #000000;
}

.statistics-label {
  font-size: 25px;
  color: #888;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes countUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
